layout {

    focus-ring {
        active-color   "#e86463"
        inactive-color "#291414"
        urgent-color   "#8a1514"
    }

    border {
        active-color   "#e86463"
        inactive-color "#291414"
        urgent-color   "#8a1514"
    }

    shadow {
        color "#29141470"
    }

    tab-indicator {
        active-color   "#e86463"
        inactive-color "#900908"
        urgent-color   "#8a1514"
    }

    insert-hint {
        color "#e8646380"
    }
}

recent-windows {
    highlight {
        active-color "#e86463"
        urgent-color "#8a1514"
    }
}
